.main-register-step-1 {
    padding: 18px;
    height: 100vh;
    /* background-color: black; */
}

.register-left-content {
    position: sticky;
    top: 18px;
    height: calc(100vh - 36px);
}

.register-right-content {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    /* row-gap: 48px; */
    overflow-y: auto;
    min-height: calc(100vh - 36px);

    .form-personal-information-register {
        max-width: fit-content;
        max-height: fit-content;
        margin-left: auto;
        margin-right: auto;

    }

    .personal-information-register {
        display: flex;
        gap: 24px;
    }

    .contact-information-register {
        display: flex;
        gap: 28px;
    }

    .password-input-register {
        display: flex;
        gap: 28px;
    }

    .my-button {
        font-size: 20px;
        font-weight: 600;
    }
}

@media screen and (max-width: 1024px) {
    .personal-information-register {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        row-gap: 5px !important;

        .title-name-input-register {
            grid-column: span 2;
        }
    }

    .contact-information-register {
        row-gap: 5px !important;
        column-gap: 43px !important;
        .input-text-field, .input-text-field-error {
            width: 276px !important;
        }
    }

    .username-input-register {
        .input-text-field, .input-text-field-error {
            width: 276px !important;
        }
    }
    .password-input-register {
        .password-input-container {
            width: 276px !important;
        }
    }
}

@media screen and (max-width: 750px) {
    .personal-information-register,.contact-information-register, .password-input-register  {
        display: inline-block !important;
    }

    .button-submit-register-next-step {
        .my-button {
            width: 276px !important;
        }
    }

}